

#main {
    background-color:rgb(102, 99, 99); 
    color: white;
}
 .main-container{
    margin: auto;
    margin-top: 15%;
}
.q-container{
    margin: auto;
    margin-top: 10%;
}
.border-1px{
    border: 1px solid white;
    border-radius: 10px;
}
#startbtn, #startPageHighscore, #submitScore,#playAgain,#clearHighscore,#goBack, #A, #B, #C, #D{
    color:white;
    text-decoration: none;
}
#startbtn,#startPageHighscore,#submitScore,#playAgain,#clearHighscore,#goBack{
    padding: 10px;
}
.margin-top-10{
    margin-top: 30px;
}
#A, #B, #C, #D{
margin-top: 25px;
padding: 10px;
height: 50px;

}